[submodule "basechain/lib/forge-std"]
	path = basechain/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "oracle/lib/forge-std"]
	path = oracle/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
